/* ----------------------- BODY ----------------------- */
body {
    min-height: 100vh;
    color: #E2E5E9;
}
.root {
    min-height: 100vh;
    background-color: #252A32;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 100%;
    padding: 2.5rem 5.938rem 0 3.563rem;
}

.body {
    min-height: calc(100vh - 4.5rem);
}
@media (max-width: 1023px) {
    .body {
        min-height: calc(100vh - 3rem);
    }
}

.page-content {
    width: 31.5rem;
    height: 31.5rem;
    margin-top: 3.625rem;
}

.page-content-p {
    color: #E2E5E9;
    width: 100%;
    max-width: 30.5rem;
}

.page-content-h1 {
    margin: 0.5rem 0 2.5rem;
    color: #E2E5E9;  
}

.page-content-description {
    // color: #22242A;
    margin-bottom: 1.25rem;
}

.page-content-input {
    display: block;
    width: 24rem;
    height: 3.5rem;
    border-radius: 4px;
    border: 1px solid #576375;
    margin-bottom: 1.25rem;
    padding: 1rem;
    background-color: #1A1E23;
    caret-color: #E2E5E9;
}
.page-content-input:focus {
    border: 2px solid #0062FF;
}
.page-content-input::selection {
    background: #576375;
}
.page-content-input::-moz-selection {
    background: #576375;
}

.page-content-input-error {
    border: 1px solid #D92020;
}

.password-input-wrapper {
    position: relative;
    width: 24rem;
}

.input-label {
    font-size: 0.875rem;
    line-height: 1rem;
    font-family: "VTB Group UI";
    font-weight: 400;
    color: #8A96A8;
    margin-bottom: 0.5rem;
}

.input-icon {
    position: absolute;
    bottom: 15px;
    right: 18.01px;
}
.input-icon:hover {
    cursor: pointer;
}

.input-icon-eye_img {
    width: 25px;
}
.input-icon-eye_img:hover {
    // filter: invert(20%) sepia(90%) saturate(4167%) hue-rotate(215deg) brightness(107%) contrast(104%);
    filter: invert(47%) sepia(83%) saturate(1625%) hue-rotate(197deg) brightness(95%) contrast(94%);
}

.page-content-muted {
    color: #8A96A8;
}

.page-content-actions {
    display: flex;
    align-items: center;
    width: 24rem;
    padding-bottom: 1.75rem;
}
@media (max-width: 1023px) {
    .page-content-actions {
        padding-bottom: 0;
    }
}

.page-content-button {
    display: inline-block;
    font-family: "VTB Group UI";
    font-weight: 500;
    line-height: 1.5rem;
    height: 3.5rem;
    border-radius: 4px;
    padding: 1rem 2rem;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-content-button-blue {
    background-color: #4789EB;
    color: #ffffff;
}
.page-content-button-blue:hover {
    background-color: #1A6BE6;
}
.page-content-button-blue:active {
    background-color: #1455B8;
    border-color: #1455B8;
}
.page-content-button-blue:disabled,
.page-content-button-blue[disabled]{
  background-color: #414A58;
  cursor: not-allowed;
}

.page-content-button-transparent {
    // width: 13.563rem;
    color: #4789EB;
    border: 1px solid #4789EB;
    background-color: transparent;
}
.page-content-button-transparent:hover {
    background-color: #252A32;
    color: #4789EB;
}
.page-content-button-transparent:active {
    background-color: #252A32;
}

.page-content-link {
    display: block;
    max-width: fit-content;
}

@media (max-width: 1023px) {
    main {
        flex-direction: column;
        justify-content: unset;

        padding: 1.5rem 1rem 1.75rem;
    }

    .page-content {
        width: fit-content;
        height: auto;

        &-actions {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0;
        }

        &-link {
            margin: 1.75rem auto 0;
        }
    }
}


@media (max-width: 425px) {
    .page-content {
        width: 100%;
        margin-top: 1rem;

        & * {
            width: 100% !important;
        }

        &-actions {
            flex-direction: column;
            justify-content: center;
        }
    }

    .page-content-actions-login {
        text-align: center;
        margin-top: 2rem;

        .page-content-link {
            margin-top: .5rem;
        }
    }

    .input-icon {
        max-width: 25px !important;
    }
}