/* ----------------------- CONFIRMATION ----------------------- */
.confirmation-content {
    width: 31.5rem;
}

.confirmation-content-p {
    color: #242424;
}

.confirmation-content-username {
    color: #242424;
    font-size: 1.125rem;
    font-family: "VTB Group UI";
    font-weight: 600;
}


/* ----------------------- CONGRATULATIONS ----------------------- */
.congratulations-content {
    width: 100%;
    max-width: 24rem;
    margin: 0 3rem 0 9rem;
}

.congratulations-content-p {
    color: #242424;
    margin-bottom: 2.5rem;
}