/* ----------------------- DECORATIVE IMAGE ----------------------- */
.decorative_image {
    max-width: 31.5rem;
    margin-right: 5.938rem;
}

.congratulations-decorative_image {
    width: 31.5rem;
}



@media (max-width: 1023px) {
    .decorative_image, .congratulations-decorative_image {
        max-width: 16.9rem;
        margin-right: 0;
    }
}

