/* ----------------------- LOGIN ----------------------- */
.login-password-wrapper {
    position: relative;
    width: 24rem;
    margin-bottom: 2.5rem;
}

.login-button-blue {
    width: 9.188rem;
    margin-right: 1.25rem;
}